{% extends 'fake.html' %}
{% block title %}CONTACT PAGE{% endblock title %}
{% block body %}
<div class="aman">
    <a class="navbar-brand contact1 img1" href="http://www.facebook.com" target="_blank">
        <img src="static/facebook.png" width="300" height="300" alt="" loading="lazy">
    </a>
    <a class="navbar-brand contact1 " href="http://www.whatsapp.com" target="_blank">
        <img src="static/whatsapp.png" width="300" height="300" alt="" loading="lazy">
    </a>
    <a class="navbar-brand contact1 " href="http://www.instagram.com" target="_blank">
        <img src="static/insta1.png" width="300" height="300" alt="" loading="lazy">
    </a>
    <a class="navbar-brand contact1 " href="http://www.telegram.com" target="_blank">
        <img src="static/telegram.png" width="300" height="300" alt="" loading="lazy">
    </a>
    <a class="navbar-brand contact1 " href="http://www.twitter.com" target="_blank">
        <img src="static/twitter.png" width="300" height="300" alt="" loading="lazy">
    </a>
    <a class="navbar-brand contact1 " href="http://www.linkedin.com" target="_blank">
        <img src="static/linkedin.jpg" width="300" height="300" alt="" loading="lazy">
    </a>
</div>
<div class="nsa j">
    <h1 class="text-center g">CONTACT REQUEST SUBMISSION</h1>
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control new" placeholder="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control new1" placeholder="Last name">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control new" placeholder="Adress">
        </div>
        <div class="col">
          <input type="text" class="form-control new1" placeholder="Phone Number">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <input type="email" class="form-control new" placeholder="E-Mail Adress">
        </div>
        <div class="col">
          <input type="text" class="form-control new1" placeholder="Pincode">
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary om6" >CONTACT ME</button>
    </form>
  </div>
</div><!-- /.container -->


<!-- FOOTER -->
<footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2020 by NSA Help &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.5/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
{%endblock body%}