{% extends 'fake.html' %}
{% block title %}HOME PAGE{% endblock title %}
{% block body %}
<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img src="static/help.jpg" width="100" height="100" alt="">
      <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text>

      <h2 class="om3">HELP</h2>
      <p>NSA Help wants to spread our message of hope and compassion. We believe that a single action can make a
        difference in the community, and that collective action can greatly impact the world. Thus we decided to make a
        platform for every social worker and NGOs of BILASPUR (CG) to work together and make our city great. People who
        want to contribute to the society now can easily do it with help of NSA mobile app. Those who are in need of any
        kind of help can also use the app to get in touch with appropriate NGOs and Social Workers.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="static/donate.jpg" width="100" height="100" alt="">
      <h2 class="om3">DONATE</h2>
      <p>NSA Help wants to spread our message of hope and compassion. We believe that a single action can make a
        difference in the community, and that collective action can greatly impact the world. Thus we decided to make a
        platform for every social worker and NGOs of BILASPUR (CG) to work together and make our city great. People who
        want to contribute to the society now can easily do it with help of NSA mobile app. Those who are in need of any
        kind of help can also use the app to get in touch with appropriate NGOs and Social Workers.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="static/vendors.jpg" width="100" height="100" alt="">
      <h2 class="om3">LOCAL VENDORS</h2>
      <p>NSA Help wants to spread our message of hope and compassion. We believe that a single action can make a
        difference in the community, and that collective action can greatly impact the world. Thus we decided to make a
        platform for every social worker and NGOs of BILASPUR (CG) to work together and make our city great. People who
        want to contribute to the society now can easily do it with help of NSA mobile app. Those who are in need of any
        kind of help can also use the app to get in touch with appropriate NGOs and Social Workers.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette k1">
    <div class="col-md-7">
      <h2 class="featurette-heading text-center s"><strong>NSA HELP </strong>
        <br>
        <span class="s ">"HUMANITY AT WORK"</span>
      </h2>
      <p class="lead s">NSA Help wants to spread our message of hope and compassion. We believe that a single action can
        make a difference in the community, and that collective action can greatly impact the world. Thus we decided to
        make a platform for every social worker and NGOs of BILASPUR (CG) to work together and make our city great.
        People who want to contribute to the society now can easily do it with help of NSA mobile app. Those who are in
        need of any kind of help can also use the app to get in touch with appropriate NGOs and Social Workers.</p>
    </div>
    <div class="col-md-5">
      <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
              height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
              role="img" aria-label="Placeholder: 500x500">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
            </svg> -->
      <img id="omsai" src="static/lion.svg" width="400" height="400" alt="">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette om5">
    <div class="col-md-7 order-md-2 om5">
      <h2 class="featurette-heading">DOWLOAD NSA APP NOW <span class="text-muted">Click the Button below.</span></h2>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" DOWLOAD>DOWNLOAD APP</button>
    </div>
    <div class="col-md-0 order-md-1 ml-">
      <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
              height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
              role="img" aria-label="Placeholder: 500x500">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
            </svg> -->
      <img  src="static/playstore.png" width="400" height="400" alt="">
    </div>
  </div>
  <!-- ====================================================================== -->

  <!-- <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
        semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
        commodo.</p>
    </div>
    <div class="col-md-5">
      <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
              height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
              role="img" aria-label="Placeholder: 500x500">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
            </svg> -->
  <!-- <img src="static/NSA LOGO.png" width="400" height="400" alt="">
    </div>
  </div> -->

  <!-- <hr class="featurette-divider"> --> -->

  <!-- /END THE FEATURETTES -->
  <!-- ==================================================================================== -->
  <div class="nsa j">
    <h1 class="text-center g">INTERESTED VOLUNTEERS</h1>
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control new" placeholder="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control new1" placeholder="Last name">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control new" placeholder="Adress">
        </div>
        <div class="col">
          <input type="text" class="form-control new1" placeholder="Phone Number">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <input type="email" class="form-control new" placeholder="E-Mail Adress">
        </div>
        <div class="col">
          <input type="text" class="form-control new1" placeholder="Pincode">
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary om4" >SUBMIT</button>
    </form>
  </div>
</div><!-- /.container -->


<!-- FOOTER -->
<footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2020 by NSA Help &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.5/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>

{% endblock body %}

</html>